body {
  font-family: "aleoregular";
  font-size: 15px;
}

h2 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

h3 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 520px;
  width: 100%;
}

.link-underline {
  text-decoration: underline;
}

.link-underline:hover {
  text-decoration: none;
}

.text-indent {
  margin-left: 15px;
}