* {
  font-family: "merriweather_regular", 'Courier';
  padding: auto;
  margin: auto;
  overflow-x: hidden;
}

.sketch-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 25px;
}

.link {
  color: #30303A;
  position: fixed;
  font-size: 0.7em;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.back-to-sketches-link {
  bottom: 15px;
  left: 15px;
}

.github-link {
  bottom: 35px;
  left: 15px;
}

#generate-button {
  cursor: pointer;
  background: #fafafa;
  border: 1px solid #30303A;
  font-size: 0.7em;
  font-weight: bold;
}

#generate-button:active, #generate-button:hover {
  background: #30303A;
  color: #fafafa;
}
