html {
  display: block;
}

a {
  color: #30303A;
  text-decoration: none;
}

body {
  font-family: "merriweather_regular", monospace;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #30303A;
  background: #ffffff;
}

h2 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-right: 5px;
}

h3 {
  margin: 0px;
  margin-top: 50px;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 550px;
  width: 100%;
}

.font-s {
  font-size: 0.8em;
}

.font-b {
  font-size: 1.2em;
}

.back-to-main-wrapper {
  text-align: right;
  margin-top: 10px;
}

.back-to-main {
  font-size: 0.9em;
}

.post-list {
  margin-top: 15px;
}

.link-underline {
  text-decoration: underline;
}

.link-underline:hover {
  text-decoration: none;
}

.text-indent {
  margin-left: 5px;
}

.post-title {
  font-weight: 700;
  margin-top: 10px;
  margin-right: 5px;
}

.post-title-projects {
  font-weight: 700;
  padding-left: 0px;
}

.project-description {
  margin-top: 5px;
}

.project-date {
  text-align: left;
  float: left;
}

.post-listing {
  margin-top: 50px;
}

.project-image {
  max-width: 100%;
  margin-top: 10px;
}

.reading-list-paragraph-title {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.post-margin-top {
  margin-top: 40px;
}

body .gist .gist-data {
  background: #ffffff;
}

body .gist .markdown-body {
  font-size: 0.8em;
}

body .gist .gist-meta {
  display: none;
}

.sketch-image {
  margin-top: 10px;
}