html {
  display: block;
}

a {
  color: #30303A;
  text-decoration: none;
}

body {
  font-family: "merriweather_regular";
  font-size: 0.8em;
  line-height: 1.5em;
  color: #30303A;
  background: #fafafa;
}

h2 {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-right: 5px;
}

h3 {
  margin: 0px;
  margin-top: 60px;
  padding-right: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 550px;
  width: 100%;
}

.font-s {
  font-size: 0.8em;
}

.font-b {
  font-size: 1.2em;
}

.post-list {
  margin-top: 15px;
}

.link-underline {
  text-decoration: underline;
}

.link-underline:hover {
  text-decoration: none;
}

.text-indent {
  margin-left: 5px;
}

.post-title {
  font-weight: 700;
  margin-top: 10px;
  margin-right: 5px;
}

.post-title-projects {
  font-weight: 700;
  padding-left: 0px;
}

.project-description {
  margin-top: 5px;
}

.project-date {
  text-align: left;
  float: left;
}

.post-listing {
  margin-top: 50px;
}

.project-image {
  max-width: 100%;
  margin-top: 10px;
}

.reading-list-paragraph-title {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.post-margin-top {
  margin-top: 40px;
}

.code-color {
  color: #ffffff;
  background: #000000;
}

.inline-code {
  font-family: monospace;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.code-snippet {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: pre;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.sketch-list {
  line-height: 2em;
}
